@import "animations.css";
@import "keyframes.css";

:root {
  --curve: 1vw;
  --color1: #f53844;
  --color2: #42378f;
}

html {
  box-sizing: border-box;
}

h1 {
  font-family: "Barlow", monospace;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 10vw;
  text-shadow: 0.3vh 0.3vw 0.5vw black;
  letter-spacing: 2vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
  margin: 30px auto;
  justify-content: space-around;
}

.card {
  margin: 3vw;
  width: 20vw;
  padding: 1vw;
  height: auto;
  border-radius: var(--curve);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0px) saturate(180%);
  box-shadow: 0.5em 0.5em 1em;
  align-items: center;
  transition: filter 200ms ease, transform 200ms ease;
}

@media screen and (max-width: 810px) {
  .card {
    width: 30vw;
    padding: 1.5vw;
    border-radius: 1.5vw;
  }
  .img {
    border-radius: 1.5vw;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 60vw;
    padding: 2.5vw;
    border-radius: 2.5vw;
  }
  .img {
    border-radius: 2.5vw;
  }
  h1 {
    font-size: 20vw;
  }
  span {
    display: block;
  }
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--curve);
  align-items: center;
}

.text {
  color: black;
  text-align: center;
  font-size: 1.5vw;
}

/* ANIMATIONS */

.blur {
  animation: colorswap 0.75s ease 1;
}

.middleBlur {
  animation: middleBlur 2s ease 1;
}

@media screen and (max-width: 810px) {
  .blur {
    animation: none !important;
  }

  .middleBlur {
    animation: none !important;
  }
}

.bg {
  z-index: -1;
  width: 100%;
  overflow: hidden;
  position: fixed;
  inset: 0;
}

.bg::before {
  width: calc(100vw + 100vh);
  height: calc(100vw + 100vh);
  content: "";
  position: absolute;
  background-image: conic-gradient(var(--color1), var(--color2), var(--color1));
  animation: 15s linear infinite rot;
  translate: -50vh -50vw;
}
