@import "animations.css";
@import "keyframes.css";

:root {
  --curve: 1vw;
  --color1: #360033;
  --color2: #0b8793;
}

html {
  box-sizing: border-box;
}

h1 {
  font-family: "Barlow", monospace;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 10vw;
  text-shadow: 0.3vh 0.3vw 0.5vw black;
  letter-spacing: 2vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
  margin: 30px auto;
  justify-content: space-around;
}

.card {
  margin: 3vw;
  width: 20vw;
  padding: 1vw;
  height: auto;
  border-radius: var(--curve);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0px) saturate(180%);
  box-shadow: 0.5em 0.5em 1em;
  align-items: center;
  transition: filter 200ms ease, transform 200ms ease;
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--curve);
  align-items: center;
}

.text {
  color: black;
  text-align: center;
  font-size: 1.5vw;
}

/* ANIMATIONS */

.blur {
  /* filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent; */
  animation: colorswap 0.75s ease 1;
}

.middleBlur {
  /* filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent; */
  animation: middleBlur 2s ease 1;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  clip-path: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg::before {
  content: '';
  position: absolute;
  inset: -25%;
  background-image: conic-gradient(var(--color1), var(--color2), var(--color1));
  animation: 5s ease-in-out infinite rot;
}
