@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html {
    box-sizing: border-box;
    background-color: 576F72;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
}


.card {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 32%;
    height: 32%;
    border-radius: 10px;
    margin-bottom: .23%;
    background-color: 7D9D9C;
    box-shadow: .5em .5em 1em;
}



.img {
    height: 100%;
    width: 95%;
    padding-top: 1em;
}

.text {
    padding: 0 1em;
    color: F0EBE3;
}