html {
    box-sizing: border-box;
    background-color: 576F72;
}


.card {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 32%;
    height: 32%;
    border-radius: 10px;
    margin-bottom: .23%;
    background-color: 7D9D9C;
    box-shadow: 5px 5px 10px;
}



.img {
    object-fit: fill;
    height: 95%;
    max-width: 95%;
    padding-top: 1em;
}

.text {
    padding: 0 1em;
    color: F0EBE3;
}